[Common]
image_size: 176
batch_size: 40
#gpus: 0,1,2
gpus: 0
g_repeat: 1
restore_opt: 0
#ckpt: /srv/glusterfs/xieya/colorization-tf/models/model.ckpt-499000
init_ckpt: /srv/glusterfs/xieya/colorization-tf/models/model.ckpt-499000
gan: 1
prior_boost: 1
correspondence: 0
[DataSet]
path: data/train.txt
thread_num: 24
[Net]
weight_decay: 0.001
alpha: 0.01
easy: 0
[Solver]
learning_rate: 0.0000316
#moment: 0.9
lr_decay: 0.316
decay_steps: 215000
max_iterators: 500000
train_dir: /srv/glusterfs/xieya/colorization-test/models/
